<div class="from-primary-800 bg-gradient-to-b to-neutral-900 flex items-center justify-center">
  <div class="container max-w-screen-md">
    <div class="px-4 py-8 w-full ">
      <h1
        class="text-center tracking-wide text-4xl font-extrabold text-primary-50 bg-gradient-to-r from-primary-500 to-primary-800 inline leading-snug decoration-clone px-4"
      >
        T2o LABEl <br />
        Electro hip hop from Bordeaux.<br />
        New release every week. <br />
      </h1>
      <div
        class="mt-16 flex justify-center items-center px-4 pt-16 border-dashed border-t-4 border-primary-50"
      >
      <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#8934a8" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><circle cx="128" cy="128" r="96" opacity="0.2"></circle><circle cx="128" cy="128" r="96" fill="none" stroke="#8934a8" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></circle><polyline points="160 88 128 120 96 88" fill="none" stroke="#8934a8" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline><polyline points="160 144 128 176 96 144" fill="none" stroke="#8934a8" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline></svg>
        <h2 class="text-center tracking-normal text-3xl font-bold text-primary-200 px-8 leading-snug">
          Latest drop
        </h2>
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#8934a8" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><circle cx="128" cy="128" r="96" opacity="0.2"></circle><circle cx="128" cy="128" r="96" fill="none" stroke="#8934a8" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></circle><polyline points="160 88 128 120 96 88" fill="none" stroke="#8934a8" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline><polyline points="160 144 128 176 96 144" fill="none" stroke="#8934a8" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline></svg>      </div>
    </div>
    <div class=" flex justify-center items-center">
      <app-player-audio [playerAudio]="lastAudio"></app-player-audio>
    </div>
    <div class="mt-16 flex justify-center items-center px-2 py-4">
      <div class="relative group">
        <div
          class="animate-tilt group-hover:duration-200 duration-1000 group-hover:opacity-100 transition absolute inset-0.5 bg-gradient-to-r from-primary-500 to-secondary-700 rounded-lg blur opacity-75"
        ></div>
        <button
          class="relative py-4 px-6 bg-neutral-900 rounded-lg leading-none flex items-center divide-x divide-neutral-400"
          (click)="onContinue()"
        >
          <span
            class="text-primary-50 pr-6 group-hover:text-primary-100 transition duration-200 "
            >MORE</span
          >

          <span class="flex items-center space-x-5 pl-6 animate-tilt">
            <svg
              class="-rotate-6 h-6 w-6"
              xmlns="http://www.w3.org/2000/svg"
              width="56"
              height="56"
              fill="#8662C7"
              viewBox="0 0 256 256"
            >
              <rect width="256" height="256" fill="none"></rect>
              <polygon
                points="136 32 232 128 136 224 136 176 104 176 104 80 136 80 136 32"
                opacity="0.2"
              ></polygon>
              <polygon
                points="136 32 232 128 136 224 136 176 104 176 104 80 136 80 136 32"
                fill="none"
                stroke="#8662C7"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="16"
              ></polygon>
              <line
                x1="40"
                y1="176"
                x2="40"
                y2="80"
                fill="none"
                stroke="#8662C7"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="16"
              ></line>
              <line
                x1="72"
                y1="176"
                x2="72"
                y2="80"
                fill="none"
                stroke="#8662C7"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="16"
              ></line>
            </svg>
          </span>
          <!-- <span class="text-primary-400 pl-6">TEST2</span> -->
        </button>
      </div>
    </div>
  </div>
</div>
